.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create 3 equal columns that sits next to each other */
.col {
  flex: 33.33%;
  max-width: 33.33%;

}

img {
  padding-top: 15px;
  vertical-align: middle;
  width: 100%;
}
